<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413837536092-qi02fsirc5gl6gnhr5t9700bgnc1quee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413837536092-qi02fsirc5gl6gnhr5t9700bgnc1quee</string>
	<key>API_KEY</key>
	<string>AIzaSyD6wPNVoIPHvDms7vTzt0koC02hvY7xU0k</string>
	<key>GCM_SENDER_ID</key>
	<string>413837536092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tu.TrainningCourse</string>
	<key>PROJECT_ID</key>
	<string>mortrainning-88898</string>
	<key>STORAGE_BUCKET</key>
	<string>mortrainning-88898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413837536092:ios:da26a506ad043f6c3f6f99</string>
</dict>
</plist>